{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <h1>Create Category type for event Here</h1>
    <div>
        {% if massage %}
            {% for massage in massage %}
                <h1>{{massage}}</h1>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{category_form}}
            <button type="submit" class="bg-teal-600 border-2 p-2 rounded-md text-2xl font-semibold hover:bg-teal-300">Submit</button>
        </form>
    </div>
</body>
</html>