{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    {% comment %} navbar {% endcomment %}
    {% include "dashboard/navbar.html" %}
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-5 p-5 font-semibold text-3xl shadow-md">

        
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Total Participants: {{counts.total_participant}}</h1>
        </div>    

        <a href="{% url 'view' %}?q=all">
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Total Events: {{counts.total_events}}</h1>
        </div>
        </a>

        <a href="{% url 'view' %}?q=upcoming">
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Upcoming Events: {{counts.upcoming}}  </h1>
        </div>
        </a>

        <a href="{% url 'view' %}?q=past">
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Past Events: {{counts.past}} </h1>
        </div>
        </a>

    </div>

    {% comment %} event list {% endcomment %}
    {% comment %} all events {% endcomment %}
    <section>
        <h1 class="text-3xl font-bold italic text-center border-2 p-2 rounded-md m-2">Todays All Events</h1>
        {% if today_event %}
        <div class="overflow-x-auto">
                <table class="min-w-full bg-white border border-gray-300 rounded-lg">
                    <thead>
                        <tr class="bg-gray-200 text-gray-700">
                            <th class="py-2 px-4 border">Event Name</th>
                            <th class="py-2 px-4 border">Date</th>
                            <th class="py-2 px-4 border">Time</th>
                            <th class="py-2 px-4 border">Location</th>
                            <th class="py-2 px-4 border">Edit</th>
                            <th class="py-2 px-4 border">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in today_event %}
                        <tr class="border-b hover:bg-gray-100">
                                <td class="py-2 px-4 border text-center">{{ event.name }}</td>
                                <td class="py-2 px-4 border text-center">{{ event.date }}</td>
                                <td class="py-2 px-4 border text-center">{{ event.time }}</td>
                                <td class="py-2 px-4 border text-center">{{ event.location }}</td>
                                <td class="py-2 px-4 border text-center">
                                    <a href="{% url 'edit' event.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                                </td>
                                <td class="py-2 px-4 border text-center">
                                    <form action="{% url 'delete' event.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="Submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                                    </form>
                                </td>
                        </tr>                               
                        {% endfor %}
                    </tbody>
                </table>
        {% endif %}
    </section>
    {% comment %} all events end {% endcomment %}
</body>
</html>