{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-5 p-5 font-semibold text-3xl shadow-md">
        <a href="{% url 'participant' %}">
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Total Participants: {{total_participant}}</h1>
        </div>
        </a>
        <a href="{% url 'all_events' %}">
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Total Events: {{total_events}}</h1>
        </div>
        </a>

        <a href="">
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Upcoming Events: </h1>
        </div>
        </a>

        <a href="">
        <div class="border-2 rounded-md bg-gradient-to-l from-teal-400 via-cyan-500 to-sky-600 text-white p-10 text-center">
            <h1>Past Events: </h1>
        </div>
        </a>

    </div>
</body>
</html>