{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    {% comment %} navbar {% endcomment %}
    <section>
        {% include "dashboard/navbar.html" %}
    </section>
    
    {% comment %} dashboard main {% endcomment %}
    <section>
        {% include "dashboard/dashboard_main.html" %} 
    </section>

    {% comment %} default today event {% endcomment %}
    <section>

    </section>

</body>
</html>