<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Event with form</h1>
    <div>
        {% if massage %}
            {% for massage in massage %}
                <h1>{{massage}}</h1>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{event_form}}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>