<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create participate Here</h1>
    <div>
        {% if massage %}
        <p>{{massage}}</p>
        {% endif %}
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{participant_form}}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>